#忽略.iml结尾文件
*.iml
/.idea
/ApplicationSSODemo1/.idea/
/ApplicationSSODemo1/target/
/ApplicationSSODemo1/*.iml
/ApplicationSSODemo2/.idea/
/ApplicationSSODemo2/target/
/ApplicationSSODemo2/*.iml
/SpringbootSSODemo/target/
/SpringbootSSODemo/.idea/
/SpringbootSSODemo/*.iml
/SSOClientCore/target
/SSOClientCore/.idea
/SSOClientCore/*.iml
