<component name="ArtifactManager">
  <artifact type="war" name="SpringbootSSODemo:war">
    <output-path>$PROJECT_DIR$/SpringbootSSODemo/target</output-path>
    <root id="archive" name="SpringbootSSODemo.war">
      <element id="artifact" artifact-name="SpringbootSSODemo:war exploded" />
    </root>
  </artifact>
</component>